<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home.index') }}">Accueil
			<span class="visually-hidden">(current)</span>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				{# <li class="nav-item">
					<a class="nav-link" href="#">hello
					</a>
				</li> #}
			</ul>
			<div class="d-flex align-items-center">
				<ul class="navbar-nav me-auto ms-4">
					{% if app.user %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle dropstart" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
								<b>{{ app.user.username|slice(0, 10)}}</b>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								{% if 'ROLE_ADMIN' in app.user.roles %}
									<a class="dropdown-item" href="{{ path('admin') }}">
										<i class="fa fa-fw fa fa-user-tie"></i>
										Administration
									</a>
								{% endif %}
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{ path('security.logout') }}">
									<i class="fa fa-fw fa fa-sign-out"></i>
									Se déconnecter
								</a>
							</div>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link active" href="{{ path('security.login') }}">
								<i class="fa fa-fw fa fa-sign-in"></i>
								Connexion
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</nav>